/* HEADER */
header {
    width: 100%;
    z-index: 998;
    display: fixed;
}

main {
    overflow-y: scroll;
}

/* SIDEBAR */

.container {
    height: calc(100vh - 10vh);
}
.sidebar {
    width: 10%;
    background-color: rgb(9, 236, 58);
    padding: 2rem;
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
}

.sidebar img {
    width: 2.5rem;
    margin-bottom: 1rem;
}

.main-content {
    width: 90%;
}

#icon-profile {
    background-color: lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 0;
}

#icon-download {
    width: 2rem;
    margin-left: 0.2rem;
}

/* PLAYLIST */
.playlist .col {
    width: 49%;
}

.playlist img {
    width: 100%;
}

/* FOOTER */
.container-footer {
    height: 10vh;
    background-color: rgb(131, 131, 131);
}




