:root {
    --primary-col: #141922; /* main */
    --primary-col-light: #D2D2D2; /* icone */
    --secondary-col: #7C7E83; /* nav main / sottotitoli / footer icon */ 
    --secondary-col-light: #282828; /* footer */
}

/************ SIDEBAR ************/
.container-sidebar {
    height: calc(100vh - 80px);
}

.sidebar {
    max-width: 48px;
    background-color: black;
    padding: 1.5rem;
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-larger {
    min-width: 200px;
    background-color: black;
    z-index: 999;
    padding: 1rem;
    overflow: hidden;
}

.sidebar img {
    width: 1.5rem;
    margin-bottom: 1rem;
}

#icon-profile {
    background-color: lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 0;
}

#icon-download {
    width: 1.4rem;
}

.logo {
    margin-bottom: 1rem;
    width: 9rem !important;
}

.sidebar-larger img {
    width: 2rem;
    display: inline-block;
    margin-right: 0.5rem;
    color: var(--secondary-col);
}

.sidebar-larger a {
    color: var(--secondary-col);
    text-decoration: none;
    font-size: 0.9em;
}

#home {
    color: white;
    border-left: 2px solid #8FD12C;
    border
}

.sibear-larger i {
    font-size: 3rem;
}

.add-icon {
    font-size: 3rem;
    color: #A3A3A3;
    margin-right: 0.5rem;
}

.sidebar-larger h5 {
    margin-bottom: 1rem;
    color: var(--secondary-col);
}

.sidebar-larger hr {
    border-color: var(--secondary-col);
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    max-width: 10rem;
}

.sidebar-larger a:hover {
    color: white;
}

.sidebar-larger a :hover {
    color: white;
}

/************ CALL TO ACTION ************/
.CTA {
    width: calc(100% - 48px);
    z-index: 997;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.CTA button {
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50px;
    transition: 0.5s;
}

.CTA button:hover {
    transform: scale(1.2);
}

/************ MAIN ************/

body {
    background-color: var(--primary-col);
}

button {
    cursor: pointer;
}

.container-playlist {
    margin-top: 7.2rem;
}

/* CENTRAL NAV */
.central-nav {
    line-height: 2rem;
}

.central-nav a, .central-nav li {
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-col);
}

.central-nav li :hover {
    color: white;
}

.green-line {
    width: 2.5rem;
    border: 1.5px solid #8FD12C;
}

.central-nav .li {
    width: calc(100% / 1 - 1rem);
}

/* PLAYLIST */
.playlist .col {
    width: calc(100% / 2);
}

.playlist img {
    width: 100%;
}

.playlist h1 {
    color: white;
    margin-top: 1rem;
}

.playlist h3 {
    font-size: small;
    font-weight: 900;
    color: white;
}

.playlist h4 {
    font-weight: 700;
    color: var(--secondary-col);
    margin-top: -1rem;
}

.playlist h5 {
    font-size: small;
    color: var(--secondary-col);
}

.famous-artists img {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/************ FOOTER ************/
.container-footer {
    height: 80px;
    background-color: var(--secondary-col-light);
    padding: 0.5rem;
}

footer img {
    width: 40px;
}

footer h3 {
    color: white;
    font-size: small;
}

footer small {
    font-size: smaller;
    color: var(--secondary-col);
}

.footer-icon {
    color: var(--secondary-col);
    font-size: 1rem;
}

.col-big-right i {
    color: white;
    font-size: 1rem;
}

.audio-bar {
    position: relative;
    width: 70px;
    background-color: var(--secondary-col);
    border: 2px solid var(--secondary-col);
    border-radius: 50px;
    margin-right: 0.5rem;
}

.audio-bar-min {
    width: 15px;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 0.5rem;
}

.col-big-center i {
    color: white;
    font-size: 1.5rem;
    width: 60%;
}

.music-bar {
    position: relative;
    align-self: center;
    width: 120px;
    height: 3px;
    background-color: var(--secondary-col);
    border: 4px solid var(--secondary-col);
    border-radius: 50px;
}

.music-bar-min {
    position: absolute;
    top: -2px;
    width: 30px;
    border: 2.5px solid white;
    border-radius: 50px;
}

footer span {
    color: white;
}


/************ MEDIA QUERY ************/

/* XS - MOBILE FIRST */
@media screen and (max-width: 479px) {
    #nav-larger {
        display: none;
    }
}

/* SM - SMARTPHONE */
@media screen and (min-width: 480px) {
    #nav-small {
        display: none;
    }
    #nav-larger {
        min-width: 200px;
    }
    .CTA {
        width: calc(100% - 200px);
        z-index: 997;
        position: fixed;
    }
}

/* MD - TABLET */
@media screen and (min-width: 768px) {
    .recently-played .col {
        width: calc(100% / 4);
    }
    .john-doe {
        max-width: calc(100% / 2);
    }
    .famous-artists {
        max-width: calc(100% / 2);
    }
}

/* LG - DESKTOP */
@media screen and (min-width: 992px) {
    .recently-played .col {
        width: calc(100% / 6);
    }
    .john-doe {
        max-width: calc(100% / 3);
    }
    .famous-artists {
        max-width: calc(100% / 3);
    }
}
