:root {
    --primary-col: #141922; /* main */
    --primary-col-light: #D2D2D2; /* icone */
    --secondary-col: #7C7E83; /* nav main / sottotitoli / footer icon */ 
    --secondary-col-light: #282828; /* footer */
}

/************ SIDEBAR ************/
.container-sidebar {
    height: calc(100vh - 10vh);
    width: 100vw;
}

.sidebar {
    max-width: 48px;
    background-color: black;
    padding: 1.5rem;
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
}

#nav-larger {
    display: none;
}

.sidebar-larger {
    min-width: 200px;
    background-color: pink;
    padding: 1.5rem;
    z-index: 999;
    justify-content: flex-start;
    align-items: center;
}

.sidebar img {
    width: 1.5rem;
    margin-bottom: 1rem;
}

#icon-profile {
    background-color: lightgray;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 0;
}

#icon-download {
    width: 1.4rem;
}

#nav-larger img {
    width: 1.5rem;
    display: inline-block;
}

/************ CALL TO ACTION ************/
.CTA {
    width: calc(100% - 48px);
    z-index: 998;
    position: fixed;
}

.CTA button {
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50px;
}

/************ MAIN ************/
.container-playlist {
    margin-top: 7.2rem;
}

/* CENTRAL NAV */
.central-nav {
    line-height: 2rem;
}

.central-nav a, .central-nav li {
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-col);
}

.green-line {
    width: 2.5rem;
    border: 1.5px solid #8FD12C;
}

.central-nav .li {
    width: calc(100% / 1 - 1rem);
}

/* PLAYLIST */
.playlist .col {
    width: calc(100% / 2);
}

.playlist img {
    width: 100%;
}

.playlist h1 {
    color: white;
    margin-top: 1rem;
}

.playlist h3 {
    font-size: small;
    font-weight: 900;
    color: white;
}

.playlist h4 {
    font-weight: 700;
    color: var(--secondary-col);
    margin-top: -1rem;
}

.playlist h5 {
    font-size: small;
    color: var(--secondary-col);
}

/************ FOOTER ************/
.container-footer {
    height: 10vh;
    background-color: var(--secondary-col-light);
    padding: 0.5rem;
}

footer img {
    width: 50px;
}

footer h3 {
    color: white;
    font-size: small;
}

footer small {
    font-size: smaller;
    color: var(--secondary-col);
}

.footer-icon {
    color: var(--secondary-col);
    font-size: 1.2rem;
}

footer .col {
    width: calc(100% / 3);
}

.col-small {
    width: 10%;
}

.col-big-footer {
    width: calc(100% / 3);
}

/************ MEDIA QUERY ************/

/********* MEDIA QUERIES *********/
/* XS - MOBILE FIRST */
/* body.debug {
    background: red;
} */

/* SM - SMARTPHONE */
@media screen and (min-width: 480px) {
    #nav-small {
        display: none;
    }
    #nav-larger {
        display: block;
        min-width: 200px;
    }
    .CTA {
        width: calc(100% - 200px);
        z-index: 998;
        position: fixed;
    }
}

/* MD - TABLET */
@media screen and (min-width: 768px) {
    .recently-played .col {
        width: calc(100% / 4);
    }
    .john-doe {
        max-width: calc(100% / 2);
    }
    .famous-artists {
        max-width: calc(100% / 2);
    }
}

/* LG - DESKTOP */
@media screen and (min-width: 992px) {
    .recently-played .col {
        width: calc(100% / 6);
    }
    .john-doe {
        max-width: calc(100% / 3);
    }
    .famous-artists {
        max-width: calc(100% / 3);
    }
}
